<!-- templates/navbar.html -->
<nav id="navScroll" class="navbar navbar-light bg-light fixed-top navbar-expand-lg" tabindex="0">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <!-- Logo de la Empresa -->
        <a class="navbar-brand pe-md-4 fs-4 col-md-auto text-center" href="{{ url_for_locale('index', g.lang_code) }}">
            <img src="{{ url_for('static', filename='nfc_connect_logo.jpg') }}" alt="Logo" height="100" class="d-inline-block align-top">
        </a>

        <!-- Botón Toggler para Offcanvas (Visible en Pantallas Pequeñas) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Offcanvas para Menú en Pantallas Pequeñas -->
        <div class="offcanvas offcanvas-end bg-light" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header d-lg-none">
                <h5 class="offcanvas-title text-dark" id="offcanvasNavbarLabel">NFC Connect</h5>
                <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <!-- Enlaces de Navegación -->
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link fs-5 text-dark" href="{{ url_for_locale('about', lang=g.lang_code) }}" aria-label="About">
                            {{ _('About') }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5 text-dark" href="{{ url_for_locale('store', lang=g.lang_code) }}" aria-label="Tienda">
                            {{ _('Tienda') }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5 text-dark" href="{{ url_for_locale('how_it_works', lang=g.lang_code) }}" aria-label="Cómo Funciona">
                            {{ _('Cómo Funciona') }}
                        </a>
                    </li>
                    <!-- Cambio de Idioma -->
                    <li class="nav-item">
                        <span class="language-text">
                            {% if g.lang_code == 'es' %}
                                <a class="nav-link fs-5 text-dark language-switch" href="{{ toggle_lang_url() }}" aria-label="Cambiar a Inglés" title="Cambiar a Inglés">
                                    <img src="{{ url_for('static', filename='svg/uk.svg') }}" height="40px" width="auto" alt="English" class="flag">
                                </a>
                            {% else %}
                                <a class="nav-link fs-5 text-dark language-switch" href="{{ toggle_lang_url() }}" aria-label="Cambiar a Español" title="Cambiar a Español">
                                    <img src="{{ url_for('static', filename='svg/spain.svg') }}" height="40px" width="auto" alt="Spanish" class="flag">
                                </a>
                            {% endif %}
                        </span>
                    </li>
                </ul>

                <!-- Botones de Login, Dashboard, Logout y Carrito (Visible en Pantallas Grandes) -->
                <div class="d-none d-lg-flex align-items-center">
                    {% if current_user.is_authenticated %}
                        <a class="btn btn-contact fs-5 text-dark border-dark me-2" href="{{ url_for_locale('dashboard', g.lang_code) }}" aria-label="Dashboard" title="Dashboard">
                            <!-- Icono de Dashboard -->
                            <i class="bi bi-speedometer2" style="font-size: 1.5rem;"></i>
                        </a>
                        <!-- Formulario de Logout -->
                        <form action="{{ url_for_locale('logout', g.lang_code) }}" method="POST" style="display: inline;">
                            {{ logout_form.hidden_tag() }}
                            <button type="submit" class="btn btn-contact fs-5 text-dark border-dark" aria-label="Logout" title="Logout">
                                <!-- Icono de Logout -->
                                <i class="bi bi-box-arrow-right" style="font-size: 1.5rem;"></i>
                            </button>
                        </form>
                    {% else %}
                        <a class="btn btn-contact fs-5 text-dark border-dark me-2" href="{{ url_for_locale('login', g.lang_code) }}" aria-label="Login" title="Login">
                            <!-- Icono de Login -->
                            <i class="bi bi-person-circle" style="font-size: 1.5rem;"></i>
                        </a>
                        <a class="btn btn-contact fs-5 text-dark border-dark" href="{{ url_for_locale('cart_view', g.lang_code) }}" aria-label="Carrito de Compras" title="Carrito de Compras">
                            <!-- Icono de Carrito -->
                            <i class="bi bi-cart4" style="font-size: 1.5rem;"></i>
                        </a>
                    {% endif %}
                </div>

                <!-- Botones de Login, Dashboard, Logout y Carrito (Visible en Pantallas Pequeñas) -->
                <div class="d-lg-none mt-3">
                    {% if current_user.is_authenticated %}
                        <a class="btn btn-contact fs-5 text-dark border-dark me-2" href="{{ url_for_locale('dashboard', g.lang_code) }}" aria-label="Dashboard" title="Dashboard">
                            <!-- Icono de Dashboard -->
                            <i class="bi bi-speedometer2" style="font-size: 1.5rem;"></i>
                        </a>
                        <!-- Formulario de Logout -->
                        <form action="{{ url_for_locale('logout', g.lang_code) }}" method="POST" style="display: inline;">
                            {{ logout_form.hidden_tag() }}
                            <button type="submit" class="btn btn-contact fs-5 text-dark border-dark" aria-label="Logout" title="Logout">
                                <!-- Icono de Logout -->
                                <i class="bi bi-box-arrow-right" style="font-size: 1.5rem;"></i>
                            </button>
                        </form>
                    {% else %}
                        <a class="btn btn-contact fs-5 text-dark border-dark me-2" href="{{ url_for_locale('login', g.lang_code) }}" aria-label="Login" title="Login">
                            <!-- Icono de Login -->
                            <i class="bi bi-person-circle" style="font-size: 1.5rem;"></i>
                        </a>
                        <a class="btn btn-contact fs-5 text-dark border-dark" href="{{ url_for_locale('cart_view', g.lang_code) }}" aria-label="Carrito de Compras" title="Carrito de Compras">
                            <!-- Icono de Carrito -->
                            <i class="bi bi-cart4" style="font-size: 1.5rem;"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
