<!-- templates/layout/navbar.html -->
{% set navbar_size = navbar_size if navbar_size is defined else 'default' %}

<nav id="navScroll" class="navbar navbar-light bg-light fixed-top navbar-expand-sm {% if navbar_size == 'small' %}navbar-small{% endif %}" tabindex="10">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <!-- Logo de la Empresa -->
        <a class="navbar-brand pe-md-4 {% if navbar_size == 'small' %}fs-6{% else %}fs-4{% endif %} col-md-auto text-center" href="{{ url_for_locale('index', g.lang_code) }}">
            <img src="{{ url_for('static', filename='nfc_connect_logo.png') }}" alt="Logo" class="d-inline-block align-top" style="scale: 0.8;">
        </a>
        
        <!-- Botón Toggler para Offcanvas (Visible en Pantallas Pequeñas) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Offcanvas para Menú en Pantallas Pequeñas -->
        <div class="offcanvas offcanvas-end bg-light" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header d-lg-none">
                <!-- Reemplazado texto por logo -->
                <div class="text-center w-100 mt-4">
                    <img src="{{ url_for('static', filename='nfc_connect_logo.png') }}" alt="Logo" class="d-inline-block align-top" style="height: 40px;">
                </div>
                <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <!-- Enlaces de Navegación -->
                <ul class="navbar-nav flex-column flex-lg-row mx-auto mb-0 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-dark {% if navbar_size == 'small' %}fs-6{% else %}fs-5{% endif %}" href="{{ url_for_locale('about', lang=g.lang_code) }}" aria-label="About">
                            {{ _('About') }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark {% if navbar_size == 'small' %}fs-6{% else %}fs-5{% endif %}" href="{{ url_for_locale('store', lang=g.lang_code) }}" aria-label="Tienda">
                            {{ _('Tienda') }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark {% if navbar_size == 'small' %}fs-6{% else %}fs-5{% endif %}" href="{{ url_for_locale('how_it_works', lang=g.lang_code) }}" aria-label="Cómo Funciona">
                            {{ _('Cómo Funciona') }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark {% if navbar_size == 'small' %}fs-6{% else %}fs-5{% endif %}" href="{{ url_for_locale('contact_page', lang=g.lang_code) }}" aria-label="Contactanos">
                            {{ _('Contactanos') }}
                        </a>
                    </li>
                    <!-- Cambio de Idioma (Opcional) -->
                    <!-- ... -->
                </ul>

                <!-- Botones de Login, Dashboard, Logout y Carrito (Visible en Pantallas Grandes) -->
                <div class="d-none d-lg-flex align-items-center">
                    {% if current_user.is_authenticated %}
                        <a class="btn btn-contact text-dark border-dark me-2 {% if navbar_size == 'small' %}fs-6{% else %}fs-5{% endif %}" href="{{ url_for_locale('dashboard', g.lang_code) }}" aria-label="Dashboard" title="Dashboard">
                            <!-- Icono de Dashboard -->
                            <i class="bi bi-speedometer2" style="font-size: 1.5rem;"></i>
                        </a>
                        <!-- Formulario de Logout -->
                        <form action="{{ url_for_locale('logout', g.lang_code) }}" method="POST" style="display: inline;">
                            {{ logout_form.hidden_tag() }}
                            <a class="btn btn-contact text-dark border-dark {% if navbar_size == 'small' %}fs-6{% else %}fs-5{% endif %}" href="{{ url_for_locale('cart_view', g.lang_code) }}" aria-label="Carrito de Compras" title="Carrito de Compras">
                                <!-- Icono de Carrito -->
                                <i class="bi bi-cart4" style="font-size: 1.5rem;"></i>
                            </a>
                            <button type="submit" class="btn btn-contact text-dark border-dark {% if navbar_size == 'small' %}fs-6{% else %}fs-5{% endif %}" aria-label="Logout" title="Logout">
                                <!-- Icono de Logout -->
                                <i class="bi bi-box-arrow-right" style="font-size: 1.5rem;"></i>
                            </button>
                        </form>
                    {% else %}
                        <a class="btn btn-contact text-dark border-dark me-2 {% if navbar_size == 'small' %}fs-6{% else %}fs-5{% endif %}" href="{{ url_for_locale('login', g.lang_code) }}" aria-label="Login" title="Login">
                            <!-- Icono de Login -->
                            <i class="bi bi-person-circle" style="font-size: 1.5rem;"></i>
                        </a>
                        <a class="btn btn-contact text-dark border-dark {% if navbar_size == 'small' %}fs-6{% else %}fs-5{% endif %}" href="{{ url_for_locale('cart_view', g.lang_code) }}" aria-label="Carrito de Compras" title="Carrito de Compras">
                            <!-- Icono de Carrito -->
                            <i class="bi bi-cart4" style="font-size: 1.5rem;"></i>
                        </a>
                    {% endif %}
                </div>

                <!-- Botones de Login, Dashboard, Logout y Carrito (Visible en Pantallas Pequeñas) -->
                <div class="d-lg-none mt-4">
                    {% if current_user.is_authenticated %}
                        <a class="btn btn-contact text-dark border-dark w-100 mb-2 {% if navbar_size == 'small' %}fs-6{% else %}fs-5{% endif %}" href="{{ url_for_locale('dashboard', g.lang_code) }}" aria-label="Dashboard" title="Dashboard">
                            <i class="bi bi-speedometer2" style="font-size: 1.5rem;"></i> {{ _('Dashboard') }}
                        </a>
                        <a class="btn btn-contact text-dark border-dark w-100 mb-2 {% if navbar_size == 'small' %}fs-6{% else %}fs-5{% endif %}" href="{{ url_for_locale('cart_view', g.lang_code) }}" aria-label="Carrito de Compras" title="Carrito de Compras">
                            <i class="bi bi-cart4" style="font-size: 1.5rem;"></i> {{ _('Carrito') }}
                        </a>
                        <form action="{{ url_for_locale('logout', g.lang_code) }}" method="POST" style="display: inline;">
                            {{ logout_form.hidden_tag() }}
                            <button type="submit" class="btn btn-contact text-dark border-dark w-100 {% if navbar_size == 'small' %}fs-6{% else %}fs-5{% endif %}">
                                <i class="bi bi-box-arrow-right" style="font-size: 1.5rem;"></i> {{ _('Logout') }}
                            </button>
                        </form>
                    {% else %}
                        <a class="btn btn-contact text-dark border-dark w-100 mb-2 {% if navbar_size == 'small' %}fs-6{% else %}fs-5{% endif %}" href="{{ url_for_locale('login', g.lang_code) }}" aria-label="Login" title="Login">
                            <i class="bi bi-person-circle" style="font-size: 1.5rem;"></i> {{ _('Login') }}
                        </a>
                        <a class="btn btn-contact text-dark border-dark w-100 {% if navbar_size == 'small' %}fs-6{% else %}fs-5{% endif %}" href="{{ url_for_locale('cart_view', g.lang_code) }}" aria-label="Carrito de Compras" title="Carrito de Compras">
                            <i class="bi bi-cart4" style="font-size: 1.5rem;"></i> {{ _('Carrito') }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
