{% extends "app.html" %}

{% block title %}Aviso Legal y Política de Privacidad{% endblock %}

{% block styles %}
  {{ super() }}
  <style>
    body {
      background-color: #121212;
      color: white;
      font-family: Arial, sans-serif;
    }
    .privacy-section {
      margin-bottom: 50px;
      padding: 40px;
      background-color: #1f1f1f;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    .privacy-section h1 {
      margin-bottom: 20px;
      font-size: 2.5rem;
      text-align: center;
      color: #007bff;
    }
    .privacy-section h2 {
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 1.5rem;
      color: #007bff;
    }
    .privacy-section p, .privacy-section ul {
      margin-bottom: 15px;
      line-height: 1.6;
    }
    .privacy-section ul {
      padding-left: 20px;
    }
    .privacy-section a {
      color: #007bff;
      text-decoration: none;
    }
    .privacy-section a:hover {
      text-decoration: underline;
    }
  </style>
{% endblock %}

{% block content %}
<main>
  <div class="container">
    <div class="row d-flex justify-content-center py-vh-5 pb-0">
      <div class="col-12 col-lg-10 col-xl-8">
        <div class="privacy-section">
          <h1 class="fw-bold">Aviso Legal y Política de Privacidad</h1>

          <h2>1. Información Legal</h2> 
          <p>En cumplimiento con el deber de información recogido en artículo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y del Comercio Electrónico a continuación se declara V1CE - Innovación y Tecnología como un sitio web personal gestionado por Víctor García.</p>
  </div>
</main>
{% endblock %}
