<!-- templates/register.html -->
{% extends "app.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="register-container" style="padding-top: 7rem;">
  <h1>Register</h1>
  <form method="POST" action="{{ url_for('register') }}" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.username.label(class="form-control-label") }}
      {{ form.username(class="form-control") }}
      {% for error in form.username.errors %}
        <div class="text-danger">{{ error }}</div>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.email.label(class="form-control-label") }}
      {{ form.email(class="form-control") }}
      {% for error in form.email.errors %}
        <div class="text-danger">{{ error }}</div>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.password.label(class="form-control-label") }}
      {{ form.password(class="form-control") }}
      {% for error in form.password.errors %}
        <div class="text-danger">{{ error }}</div>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.confirm_password.label(class="form-control-label") }}
      {{ form.confirm_password(class="form-control") }}
      {% for error in form.confirm_password.errors %}
        <div class="text-danger">{{ error }}</div>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.profile_image.label(class="form-control-label") }}
      {{ form.profile_image(class="form-control-file") }}
      {% for error in form.profile_image.errors %}
        <div class="text-danger">{{ error }}</div>
      {% endfor %}
      <small class="form-text text-muted">Opcional. Deja en blanco para usar la imagen predeterminada.</small>
    </div>
    <button type="submit" class="btn btn-custom btn-block">Register</button>
  </form>
  
  <div class="text-center mt-3">
    <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
    <p>Or</p>
    <a href="{{ url_for('login_google') }}" class="btn btn-danger btn-social"><i class="fab fa-google"></i> Register with Google</a>
    <!-- Si agregas más proveedores en el futuro, puedes añadir más botones aquí -->
  </div>
</div>
{% endblock %}
